* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

/* ----header---- */

.header {
    min-height: 10vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 5vh;
    height: 5vh;
    padding: 0.5rem 1.5rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: 0 1rem;
}

.nav_links {
    display: flex;
    list-style: none;
    height: 100%;
}

.drop-down li {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: currentColor;
}

.drop-down {
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -2rem 0.5rem -3rem;
    background: #E4F0FF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    font-size: 14px;
    display: none;

}

.nav_links:hover {
    background-color: black;
    color: #fff;
    border-radius: 0.5rem;
}

.services:hover .drop-down {
    display: block;
}

.services a {
    display: flex;
}

.drop-down li:hover {
    background: #7EB7FF;
}

.logo {
    padding-left: 10px;
}

/* -----main----- */

.main {
    background: linear-gradient(to bottom,
    #E4F0FF 40%,
    #ff9720 40% 60%,
    #E4F0FF 60%);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: #4c92e8;
    letter-spacing: .1rem;
}

p {
    color: #2b2b2b;
    font-size: 14px;
    line-height: 22px;
    padding-top: 2rem;
    padding: 20px;
}

.row {
    flex-direction: row;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.services-col {
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 24px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    color: #4c92e8;
}

.btn {
    background: #ff9720;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin: 30px 0;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 14px 60px;
    overflow: hidden;
    transition: 1s all ease;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 4px 12px rgba(89, 52, 0, 0.4);
    transition: 0.5s;
}

.services-col:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

@media (max-width: 720px) {
    .row {
        flex-direction: column;
    }
    
    .main {
        background: linear-gradient(to bottom,
        #E4F0FF 25%,
        #ff9720 25% 35%,
        #E4F0FF 35%);
        padding: 10px;
    }
}

/* ----footer---- */

.footer {
    background: #333131;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    width: 50%;
    color: #fff;
}
